@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html, body{
    background-color: $dark;
    font-family: 'Open Sans', sans-serif;
    color: $primary;
}

:root{
    --device: "mobile";
    @include media-breakpoint-up(md){
        --device: "pc";
    }
}

$device: var(--device);