.text{
    &-hollow{
        color: transparent;
        -webkit-text-stroke: 1px $primary;
    }
    &-border{
        &-2{
            -webkit-text-stroke: 2px $primary;
        }
        &-3{
            -webkit-text-stroke: 3px $primary;
        }
    }
}

.hover{
    transition: all ease 0.5s;
    &-link:hover{
        background-color: $secondary !important;
        color: $dark !important;
    }
    &-link-reverse:hover{
        background-color: $dark !important;
        color: $primary !important;
    }
}

.hideup{
    transform: translateY(-105%);
    // @include media-breakpoint-up(lg){
    //     top: -100px;
    // }
}