.title{
    margin-bottom: 183px;
    &-fs{
        font-size: 130px;
        font-weight: 600;
        &-sub{
            font-size: 80px;
        }
    }
    &-hover{
        position: relative;
        & span{
            transition: all ease 0.5s;
            opacity: 0;
            visibility: hidden;
            position: absolute;
        }
        &-main span{
            top: -18px;
            left: -26px;
        }
        &-sub span{
            top: -12px;
            left: -29px;
        }
        &:hover{
            &>span{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.light-position{
    &-st-md{
        left: clac(194px/1440px*100%);
        top: 377px;
    }
    &-e-md{
        right: calc(139px/1440px*100%);
        top: 231px;
    }
    &-e-b{
        right: calc(324px/1440px*100%);
        top: 679px;
    }
}

.scroll{
    &-trigger{
        overflow: hidden;
    }
    &-box{
        height: calc(1/3*100%);
    }
}

.sect3-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.sect3-half-circle{
    $diameter:290px;
    width: calc($diameter/2);
    height: $diameter;
    border: 5px solid $primary;
    &-s{
        border-radius: $diameter 0 0 $diameter;
        background-color: $primary;
    }
    &-e{
        border-radius: 0 $diameter $diameter 0 ;
    }
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.sect3-intro{
    $distance: 270px;
    position: absolute;
    bottom: 5%;
    &-1{
        left: $distance;
    }
    &-2{
        right: $distance;
    }
}