.light{
    position: absolute;
    border: 1px solid $primary;
    border-radius: 50%;
    &-lg{
        $size: 177px;
        width: $size;
        height: $size;
    }
    &-md{
        $size: 147px;
        width: $size;
        height: $size;
    }
    &-sm{
        $size: 113px;
        width: $size;
        height: $size;
    }
    &::before{
        content:'';
        position: absolute;
        background: radial-gradient($dark, $secondary);
        border-radius: 50%;
        opacity: 0.2;
        width: inherit;
        height: inherit;
    }
    &-start-bottom::before{
        bottom: 27px;
        left: 50%;
    }
    &-start-top::before{
        top: 27px;
        left: 50%;
    }
    &-end-bottom::before{
        bottom: 27px;
        right: 50%;
    }
    &-animate::before{
        animation: spotlight 2s infinite;
    }
}

.with-italic-line{
    position: relative;
    width: fit-content;
    &::after{
        content: "";
        position: absolute;
        top: -200%;
        width: 189.5px;
        height: 2px;
        background: $primary;
    }
    &.line-top{
        $deg: 50deg;
        &-end::after{
            transform: rotate(-$deg);
            left: 25%;
        }
        &-start::after{
            transform: rotate($deg);
            right: 25%;
        }
    }
}

@keyframes spotlight {
    0%{
        opacity: 0.2;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}